{
    "root": true,
    "env": {
        "browser": true,
        "es2021": true
    },
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "airbnb"
    ],
    "plugins": [
        "react"
    ],
    "rules": {
        "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
        "react/prop-types": ["off"] // you should turn this on
    }
}
