.header {
  width: 100%;
  background-color: #0F172A;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.nav {
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
}

.nav, nav:visited, nav:active {
  color: inherit;
}

.nav:hover {
  color: green;
}

.footer {
  width: 100%;
  bottom: 0;
  height: 100px;
  position: fixed;
  background-color: #0F172A;
}

.logo {
  width: 100px;
  height: 30px;
  position: fixed;
  top: 30px;
  left: 10px;
}

